<!DOCTYPE html>
<html>
    <head>
        <title>YT Playlist Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="any">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        {% set nav_links = [
            ("Home", "/"),
            ("Search", "/search"),
        ] %}
        <nav>
            <h1>YT Playlist Tracker</h1>
            {% if path not in ["/login", "/register"] %}
                {% for name, href in nav_links %}
                    <a href="{{ href }}" class="{% if path == href %}active{% endif %}">{{ name }}</a>
                {% endfor %}
                <a href="/logout">Log out</a>
            {% endif %}
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>
