{% extends "base.html" %}

{% block content %}
    {% if channels %}
        <h2>Your saved channels</h2>
        <p>Total channels: {{ channels | length }}</p>
        <div class="grid">
        {% for channel in channels %}
            <a href="{{ url_for('channel', channel_id=channel.id) }}" class="card-link">
                <div class="card">
                    <h4>{{ channel.name }}</h4>
                    <img src="{{ channel.thumbnail }}"/>
                </div>
            </a>
        {% endfor %}
    </div>
    {% elif playlists %}
        <h2>Your {{ channel_name }}'s saved playlists</h2>
        <p>Total playlists: {{ total_playlists }}</p>
        {% if playlists_hide_completed %}
            <p>Total unwatched playlists: {{ visible_playlists }}</p>
        {% endif %}
        <form class="preference-form" method="POST" action="/set_preference">
            <label for="playlists_sort_by">Sort by:</label>
            <select id="playlists_sort_by" name="playlists_sort_by">
                <option value="date_saved" {% if playlists_sort_by == "date_saved" %}selected{% endif %}>Date saved</option>
                <option value="last_watched" {% if playlists_sort_by == "last_watched" %}selected{% endif %}>Last watched</option>
                <option value="title" {% if playlists_sort_by == "title" %}selected{% endif %}>Title</option>
                <option value="progress" {% if playlists_sort_by == "progress" %}selected{% endif %}>Progress</option>
            </select>
        </form>
        <form class="preference-form" method="POST" action="/set_preference">
            <label for="playlists_per_page">Playlists per page:</label>
            <select id="playlists_per_page" name="playlists_per_page">
                <option value="10" {% if playlists_per_page == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if playlists_per_page == 20 %}selected{% endif %}>20</option>
                <option value="30" {% if playlists_per_page == 30 %}selected{% endif %}>30</option>
                <option value="40" {% if playlists_per_page == 40 %}selected{% endif %}>40</option>
                <option value="50" {% if playlists_per_page == 50 %}selected{% endif %}>50</option>
            </select>
        </form>
        <label class="toggle-switch preference-toggle">
          <input type="checkbox" name="playlists_hide_completed" {% if playlists_hide_completed %}checked{% endif %}>
          <span class="slider"></span>
          Hide completed playlists
        </label>
        <br />
        <button class="back-btn" onclick="history.back()">&lt; Go back</button>
        <button class="fetchall-btn" data-playlists="{{ playlists | map(attribute='id') | list | join(',') }}">Refresh all</button>
        <div class="pagination">
            {% if current_page > 1 %}
                <a class="button" href="/{{ channel_id }}?page={{ current_page - 1 }}">
                    &lt; Previous page
                </a>
            {% endif %}

            <p>Page {{ current_page }} of {{ ceil(visible_playlists / playlists_per_page) }}</p>

            {% if current_page < ceil(visible_playlists / playlists_per_page) %}
                <a class="button" href="/{{ channel_id }}?page={{ current_page + 1 }}">
                    Next page &gt;
                </a>
            {% endif %}
        </div>
        <div class="grid">
            {% for playlist in playlists %}
                <a href="{{ url_for('playlist_details', playlist_id=playlist.id) }}" class="card-link">
                    <div class="card">
                        <h4>{{ playlist.title }}</h4>
                        <img src="{{ playlist.thumbnail }}"/>
                        <div class="progress-container">
                            <div class="progress-bar">
                                <div class="progress-fill{% if playlist.progress == 100 %} complete{% endif %}"
                                style="width: {{ playlist.progress }}%;"></div>
                            </div>
                        </div>
                        <button class="rm-btn"
                                data-id="{{ playlist.id }}">
                            Remove
                        </button>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h2>You don't have saved any playlists yet.</h2>
    {% endif %}
{% endblock %}
