{% extends "base.html" %}

{% block content %}
    {% if channels %}
        <h2>Your saved channels</h2>
        <p>Total: {{ channels | length }}</p>
        <div class="grid">
        {% for channel in channels %}
            <a href="{{ url_for('channel', channel_id=channel.id) }}" class="card-link">
                <div class="card">
                    <h4>{{ channel.name }}</h4>
                    <img src="{{ channel.thumbnail }}"/>
                </div>
            </a>
        {% endfor %}
    </div>
    {% elif playlists %}
        <h2>Your {{ channel_name }}'s saved playlists</h2>
        <p>Total: {{ playlists | length }}</p>
        <form method="GET">
            <label for="sort_by">Sort by:</label>
            <select id="sort_by" name="sort_by" onchange="this.form.submit()">
                <option value="date_saved" {% if sort_by == "date_saved" %}selected{% endif %}>Date saved</option>
                <option value="date_watched" {% if sort_by == "date_watched" %}selected{% endif %}>Last watched</option>
                <option value="title" {% if sort_by == "title" %}selected{% endif %}>Title</option>
                <option value="progress" {% if sort_by == "progress" %}selected{% endif %}>Progress</option>
            </select>
        </form>
        <br />
        <button class="back-btn" onclick="history.back()">< Go back</button>
        <button class="fetchall-btn" data-playlists="{{ playlists | map(attribute='id') | list | join(',') }}">Refresh all</button>
        <label class="toggle-switch">
          <input type="checkbox" id="hide-toggle">
          <span class="slider"></span>
          Hide completed playlists
        </label>
        <div class="grid">
            {% for playlist in playlists %}
                <a href="{{ url_for('playlist_details', playlist_id=playlist.id) }}" class="card-link">
                    <div class="card">
                        <h4>{{ playlist.title }}</h4>
                        <img src="{{ playlist.thumbnail }}"/>
                        <div class="progress-container">
                            <div class="progress-bar">
                                <div class="progress-fill{% if playlist.progress == 100 %} complete{% endif %}"
                                style="width: {{ playlist.progress }}%;"></div>
                            </div>
                        </div>
                        <button class="rm-btn"
                                data-id="{{ playlist.id }}">
                            Remove
                        </button>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h2>You don't have saved any playlists yet.</h2>
    {% endif %}
{% endblock %}
