{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" id="flash-msg">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" autocorrect="off" spellcheck="false" autocapitalize="off">
        <input type="text" name="username"  autocomplete="username" placeholder="Username" required><br />
        <input type="password" name="password" autocomplete="current-password" placeholder="Password" required><br />
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
{% endblock %}